<h1>Admin::Reviews#show</h1>
<p>Find me in app/views/admin/reviews/show.html.erb</p>

<ul>
  <li>
    <%= @review.content %>
    <%= @review.rating %>
    <%= link_to "edit review", edit_admin_review_path(@review) %>
    <%= link_to "delete review", admin_reviews_path(@review), method: :delete, data: { confirm: "Are you sure ?" } %>
  </li>
</ul>

<%= link_to "Back to index", admin_reviews_path %>


