<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>


<%= link_to "add restaurant", new_restaurant_path %>

<% @restaurants.each do |restaurant|%>
<ul>
  <li>
    <%= link_to restaurant.name, restaurant_path(restaurant) %>
    <%= restaurant.address %>
    <%= restaurant.category %>
    <%= restaurant.phone_number %>
    <%= link_to "review", new_restaurant_review_path(restaurant) %>
  </li>
</ul>
<% end %>




